@use '../../assets/sass/cores' as *;

.card-troca {
    margin: 1% auto;
    width: 96.7%;
    height: 400px;
    padding-top: 0.4%;
    background-color: rgba($color: $button-left-right-hover, $alpha: 0.1);
    position: relative;

    &__titulo {
        width: 100%;
        text-align: center;
        color: $black;
        margin: 0 0 1% 0;
    }

    &__button-left {
        margin: 0.5% 0 0 1%;
        cursor: pointer;
        background-color: transparent;
        color: $black;
        font-size: 23px;
        border: none;
        position: absolute;
    }

    &__button-right {
        margin: 0.5% 1% 0 0;
        cursor: pointer;
        background-color: transparent;
        color: $black;
        font-size: 23px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__button-left:hover,
    &__button-right:hover {
        opacity: 0.8;
    }

    &__nav {
        height: 86.2%;
        display: flex;
        margin-top: 2%;

        &__imagem-container {
            height: 95%;
            width: 300px;
            margin: 0 0 0 1%;
            border-radius: 10px;
            cursor: pointer;

            h4,
            p {
                margin: 0 0 0 5%;
            }

            p {
                font-size: 10px;
            }
        }

        &__button-ver-mais {
            display: block;
            text-align: center;
            color: $black;
            padding-top: 2.7%;
            text-decoration: none;
            width: 40%;
            height: 10%;
            border-radius: 4px;
            border: 1px solid $azul-logo;
            cursor: pointer;
            margin: 7% 0 0 30%;
            transition: 0.5s;
        }

        &__imagem {
            width: 90%;
            height: 60%;
            margin: 5% 0 0 5%;
            border-radius: 10px;
        }

        &__imagem-container:hover {
            box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.77);
        }

        &__imagem-container:hover>&__button-ver-mais {
            background-color: $header-background;
        }
    }
}