@use '../../assets/sass/cores' as *;

.perfil {
    width: 100%;
    height: 68.45%;
    margin: 4% 0;
    display: flex;

    &-principal {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;

        &__div {
            width: 80%;
            margin: 0 auto;
            height: 40%;
            display: flex;

            &-image {
                width: 50%;
                height: 80%;
                margin: 0 0 0 10%;
                background-color: $gray;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                cursor: pointer;
                box-shadow: -2px 0px 12px 0px $black-opacity;
            }

            &-config {
                color: $black;
                margin: auto 5%;
            }
        }



        &__left {
            height: 100%;
            width: 100%;
            border-right: 1px solid $gray;

            &-menu {
                width: 100%;
                height: 100%;
            }

            li {
                width: 95%;
                height: 10%;
                display: flex;
                align-items: center;
                padding: 0 0 0 5%;
                cursor: pointer;
            }

            li:hover {
                color: $azul-logo;
                border-right: 1px solid $azul-logo;
            }
        }
    }


    &-right {
        height: 90%;
        width: 70%;
        border-top: 1px solid $gray;
        margin: 0 auto;
        padding: 2%;
        overflow: auto;

        &__botao {
            width: 100%;
            margin-top: 5%;
            display: flex;
            justify-content: center;

            &-adicionar {
                border-radius: 50%;
                padding: 2%;
                font-size: 15px;
                border: none;
                box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                background-color: $white;
            }

            &-adicionar:hover {
                background-color: $botao-perfil;
            }
        }
    }
}

.active {
    color: $azul-logo;
    border-right: 1px solid $azul-logo;
}