@use '../../assets/sass/cores' as *;

.header-menu {
    width: 100%;
    height:  7.3%;
    background-color: $header-background;
    display: flex;

    &__logo-container {
        background-color: $white;
        border-radius: 50%;
        margin: 10px 0 10px 1%;

        img {
            height: 100%;
        }
    }

    &__icons {
        width: 30%;
        height: 100%;
        margin-left: 1%;
        display: flex;
        padding-top: 3px;
    }

    &__cart {
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 600;
        margin-right: 20%;
        color: $white;
        cursor: pointer;
    }

    a[class=header-menu__cart ] {
        text-decoration: none;
        display: block;
        margin: auto 47% auto 0;
    }

    &__user-container {
        display: flex;
    }

    &__user {
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: $white;
        cursor: pointer;
    }

    .message {
        font-size: 25px;
        margin: auto 20% auto 0;
    }

    &__cart:hover {
        opacity: 0.9;
    }
}


.modal-super {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.modal {
    width: 13%;
    background-color: $white;
    box-shadow: -1px 0px 16px 4px rgba(0, 0, 0, 0.021);
    text-align: center;
    z-index: 999;
    position: absolute;
    right: 3%;
    top: 7.5%;
    transition: 1s;

    ul {
        list-style: none;
    }

    &__item:first-child {
        border-bottom: 1px solid $black;
    }

    &__item:hover {
        background-color: $header-background;
    }

    a {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-decoration: none;
        color: $black;
        font-size: 13px;
    }

}