@use '../../assets/sass/cores' as *;

.perfil-right__card {
    padding: 2%;
    box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;

    h3 {
        font-size: 20px;
        margin-bottom: 2%;
    }

    &-close {
        border: none;
        background-color: transparent;
        font-size: 20px;
        position: absolute;
        right: 0.5%;
        top: 0.5%;
        cursor: pointer;
    }

    &-close:hover {
        color: $black;
    }
}
