$header-background: #74d1f0;
$footer-border: #aaaaaa;
$black: #302e2e;
$white: #fff;
$modal-border: #e7e7e7;
$modal-item-hover: #96d3e7;
$button-left-right: #615f5f;
$button-left-right-hover: #999898;
$button-hover: #a9e1f3;
$gray: #e7e5e5;
$azul-logo:  #458ca5;